PORT = 5000
MONGO_DB_URI = "mongodb+srv://rajeshchopra809:<password>@cluster0.bwtttci.mongodb.net/chat-app?retryWrites=true&w=majority&appName=Cluster0"
JWT_SECRET = "cbvvcvweytfvv4536357vvvdyvgdvfhhvfyg"
NODE_ENV = "development"